* {
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.navigation__bar {
    background-color: #ffbf69;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    font-weight: bold;

}

.navigation__page-name {
    display: flex;
    justify-content: center;
    width: 400px;
}

.navigation__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.navigation__list-element {
    min-width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
}

.navigation__link {
    color: black;
    text-decoration: none;
}




.background {
    background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center top;
  display: flex;
}
.background__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    margin-left:10px
}
.background__title {
    margin:0px;
    color: white;
    font-size: 8.9em;
    margin-bottom: 10px;
}
.background__description {
    text-align: left;
    color:white;
    font-size: 2.2em;
    max-width: 520px;
    margin-bottom: 90px;

}
.background__button {
    background-color: #cbf3f0;
    border: none;
    min-width: 180px;
    min-height: 40px;
    font-size: large;
    font-weight: bold;
    text-align: center;

}



.description {
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.description__question {
    font-weight:900;
    font-size: 2.5em;
    padding-bottom: 10px;
}
.description__answer {
    width: 42%;
    font-size: 1.7em;
}




.market {
    background-color: #cbf3f0;
    min-height: 30em;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.market__title {
    font-weight:900;
    font-size: 2.5em;
    padding-block: 30px;
    text-align: center;
}
.market__list {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
}
.market__item-image {
    width: 140px;
}
.market__description {
    padding-block: 10px;
    font-size: 1em;
    font-weight: bold;
}
.market__button {
    background-color: #ffbf69;
    margin-bottom: 20px;
    border: none;
    padding-inline: 40px;
    padding-block: 10px;
    font-weight: bold;
}




